.depoimentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 19%;
    padding-right: 19%;
}

.depoimentos__titulo {
    font-size: 14px;
    font-weight: 600;
    color: var(--vermelho-vinho);
}

.depoimentos__subtitulo {
    font-size: 36px;
    color: var(--titulo-secundario);
    margin: 0.5em;
    text-align: center;
}

.depoimentos__imagem {
    margin: 1em;
}

.depoimentos__nome {
    color: var(--titulo-secundario);
    margin: 1em;
    font-weight: bold;
}

.depoimentos__texto {
    font-size: 14px;
    font-weight: 400;
    color: var(--cinza);
    margin: 0 0 2em;
}